@import url(reset.css);

.main-section {
    background-color: #3a4965;
    width: 1192px;
    height: 736px;
    margin: 0 auto;
    font-family: "Arimo";
    font-style: normal;
}
table {
    position: relative;
    border-collapse: collapse;
    text-align: center;
    color: rgb(7, 7, 7);
    width: 1143px;
    margin: auto;
    top: 22px;
}

th,
td {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

td {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #484848;
    padding: 22px 0;
}

.row-th-color {
    background-color: #fafafa;
}
.row-light-grey {
    background-color: #f2f2f2;
}

.row-grey {
    background-color: #e3e3e3;
}

.table-th-col-1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #484848;
    width: 313px;
    padding: 51px 0 48px;
    text-align: center;
    vertical-align: middle;
}

.table-th-col-1 > span {
    font-size: 30px;
}

.table-th {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    color: #ffffff;
}

.col-2 {
    background-color: #89c331;
}

.col-3 {
    background-color: #f04a56;
    font-size: 30px;
}

.col-4 {
    background-color: #20807c;
}

.table-th-row-2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    text-transform: uppercase;
    color: #484848;
    text-align: center;
    vertical-align: middle;
}

.table-th-row-2 sup {
    position: relative;
    top: -19px;
    font-size: 24px;
}

th > sup::after {
    content: "Per Month";
    position: relative;
    top: 20px;
    right: 26px;
    font-weight: 400;
    font-size: 18px;
}

.footer-tr {
    height: 106px;
}
.footer-col-1 {
    background-color: #dddddd;
    vertical-align: middle;
}
.footer-col-2,
.footer-col-4 {
    background-color: #eeeeee;
    vertical-align: middle;
}
.footer-col-3 {
    background-color: #f4f4f4;
    vertical-align: middle;
}

.footer-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px 57px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}

.btn-col-1 {
    padding: 20px 45px;
    background: #484848;
}

.btn-col-2 {
    background: #89c331;
}

.btn-col-3 {
    background: #f04a56;
}

.btn-col-4 {
    background: #20807c;
}
